[buildout]
extends = http://dist.plone.org/release/5.0.6/versions.cfg
show-picked-versions = true
extensions =
    mr.developer

parts =
    instance
    test
    createcoverage
    releaser
    i18ndude
    omelette
    robot
develop = .

# Externals: enter name of development eggs from other repositories
# here, and add to sources below as well. They will be added to
# mr-developer-src and be ignored in this git repository.
auto-checkout +=
    collective.z3cform.rawdictwidget

[sources]
# put project specific sources here.
# Examples:
# collective.mypackage  = svn https://test.com/collective.mypackage/trunk/
# collective.mypackage  = svn https://test.com/collective.mypackage/trunk/@123
# Plone                   = git ${remotes:plone}/Plone.git branch=4.1
# Plone                   = git ${remotes:plone}/Plone.git rev=TAG
#
# Example with pushurl - needed to be able to check out read only by non-collective user
# collective.pfgpreview       = git ${remotes:collective}/collective.pfgpreview.git pushurl=${remotes:collective_push}/collective.pfgpreview.git

collective.z3cform.rawdictwidget = git git@github.com:tareqalam/collective.z3cform.rawdictwidget.git branch=master

[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
eggs =
    Plone
    Pillow
    plone.formbuilder [test]
    collective.z3cform.rawdictwidget
    plone.restapi

zcml-additional =
  <configure xmlns="http://namespaces.zope.org/zope"
             xmlns:plone="http://namespaces.plone.org/plone">
  <plone:CORSPolicy
    allow_origin="*"
    allow_methods="DELETE,GET,OPTIONS,PATCH,POST,PUT"
    allow_credentials="true"
    expose_headers="Content-Length,X-My-Header"
    allow_headers="Accept,Authorization,Content-Type,X-Custom-Header,DNT,X-CustomHeader,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control"
    max_age="3600"
    />
  </configure>

[createcoverage]
recipe = zc.recipe.egg
eggs = createcoverage


[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}


[test]
recipe = zc.recipe.testrunner
eggs = ${instance:eggs}
defaults = ['-s', 'plone.formbuilder', '--auto-color', '--auto-progress']


[robot]
recipe = zc.recipe.egg
eggs =
    ${test:eggs}
    plone.app.robotframework[debug,ride,reload]


[releaser]
recipe = zc.recipe.egg
eggs = zest.releaser


[i18ndude]
recipe = zc.recipe.egg
eggs = i18ndude


[versions]
# Don't use a released version of plone.formbuilder
plone.formbuilder =

setuptools =
zc.buildout =
#setuptools = 24.3.0
#zc.buildout = 2.5.2
zc.recipe.egg = 2.0.3
# flake8 = 3.0.4
# flake8-isort = 2.0.1
i18ndude = 4.0.1
robotframework = 3.0
robotframework-ride = 1.5.2.1
robotframework-selenium2library = 1.7.4
robotsuite = 1.7.0
selenium = 2.53.6
plone.testing = 5.0.0
coverage = 4.2
argh = 0.26.2
collective.MockMailHost = 1.0
createcoverage = 1.5
freezegun = 0.3.9
packaging = 16.8
pathtools = 0.1.2
pkginfo = 1.4.1
plone.rest = 1.0b1
plone.restapi = 1.0a21
requests-toolbelt = 0.8.0
tqdm = 4.19.4
twine = 1.9.1
watchdog = 0.8.3
zest.releaser = 6.12.5

# Required by:
# plone.restapi==1.0a21
PyJWT = 1.5.3

# Required by:
# zest.releaser==6.12.5
colorama = 0.3.9

# Required by:
# packaging==16.8
pyparsing = 2.1.10

# Required by:
# plone.formbuilder==1.0a1
z3c.jbot = 0.7.2
